@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=GFS+Didot&family=Raleway:wght@200&display=swap');


/*al final agregas el media query para que sea responsive y le agregas no mas el estilo a los cuadros que le metas */


#content{ 
    max-width: 1600px;
    margin: 0 auto;}
#header-box{
    
    background-color:#6A994E;
    border-radius: 5px;
    padding: 20px;
    margin: 1.5%;
    align-items: center;
    font-size: 30px;
    box-shadow: 3px 2px 20px 0px;

}
header{
    text-align: center;
    font-size: 140%;
    
}

body{
    background-color:#F2E8CF ;
    font-family:"Raleway", sans-serif;
    margin: 0;
    padding: 0;
    border: 10px #008000;
}

h1{text-align: center;

}

hr{background-color: black;
width: 97%;}

main{background-color: #E7E9EB;}

#footer-box{    
    background-color:#6A994E;
    border-radius: 5px;
    padding: 20px;
    margin: 1.5%;
    align-items: center;
    font-size: 35px;
    text-align: center;
    box-shadow: 3px 2px 20px 0px;}

#script{
    font-size: 133%;
    color: black;
    text-decoration-color: beige;
    font-weight: bold;}

p{font-weight: bold;}